[alias]
  alias = "!git config --get-regexp '^alias\\.' | fzf"  # search aliases

  ad = add
  br = "!git for-each-ref \
    --format='%(if)%(HEAD)%(then)\\033[38;2;136;192;208m* %(refname:short)\\033[0m \\033[38;2;208;135;112m%(upstream:short)\\033[0m \\033[38;2;183;190;203m%(contents:subject)\\033[0m%(else)  \\033[38;2;216;222;233m%(refname:short)\\033[0m \\033[38;2;208;135;112m%(upstream:short)\\033[0m \\033[38;2;183;190;203m%(contents:subject)\\033[0m%(end)' refs/heads/ \
    | while IFS= read -r line; do printf '%b\\n' \"$line\"; done"
  brdd = branch --delete --force
  brd = branch --delete
  brm = branch --move # rename branch
  ch = checkout
  cl = clone
  cc = commit
  ca = commit --amend # amend the last commit and edit the message.
  ce = commit --amend --no-edit # amend the last commit without editing the message.
  cm = commit -m # commit with message
  cw = commit --amend --only --edit # reword the last commit
  cp = cherry-pick
  df = "!NVIM_GIT_DIFF=1 nvim -c 'DiffviewOpenOnly' $@" # open diffview (don't want to open one vim session per file like git difftool does)
  fe = fetch
  lg = "!git log \
    --color=always \
    --pretty=format:'%C(#88c0d0)%h%Creset %C(#81a1c1)%cr%Creset %C(#ebcb8b)%d%Creset %s %C(#88c0d0)%an%Creset' \
    --abbrev-commit \
    | sed 's/ ago//' \
    | sed -E 's/([0-9]+) seconds/\\1s/' \
    | sed -E 's/([0-9]+) minutes/\\1m/' \
    | sed -E 's/([0-9]+) hours/\\1h/' \
    | sed -E 's/([0-9]+) days/\\1D/' \
    | sed -E 's/([0-9]+) weeks/\\1W/' \
    | sed -E 's/([0-9]+) months/\\1M/' \
    | less --RAW-CONTROL-CHARS --chop-long-lines"
  me = merge
  pl = pull
  ps = push
  psf = push --force-with-lease
  rb = rebase
  rbc = rebase --continue
  rba = rebase --abort
  rbi = rebase --interactive
  rt = restore
  rs = reset
  sh = stash --include-untracked 
  shp = stash pop
  shc = stash clear
  shs = stash show
  ss = status 
  sw = switch
  swc = switch --create
  
[commit]
  verbose = true # show diff in commit message editor
	gpgsign = false

[core]
  editor = NVIM_APPNAME=vim nvim

[diff]
	tool = nvimdiff

[difftool]
  prompt = false

[difftool.nvimdiff]
  cmd = NVIM_APPNAME=vim nvim -d "$LOCAL" "$REMOTE"

[fetch]
  prune = true # remove local branches that have been deleted upstream

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
  path = .gitconfig.local

[init]
	defaultBranch = main

[merge]
  autoStash = true # stash local changes before merging
  tool = nvimdiff

[pull]
  autoStash = true # stash local changes before pulling
  rebase = true # use rebase instead of merge

[push]
  autoSetupRemote = true # set upstream on first push
  default = simple # push current branch to the branch with the same name

[rebase]
  autoStash = true # stash local changes before rebasing

[stash]
  showIncludeUntracked = true # include untracked files in stash show
  showPatch = true # show stash as a patch

[status]
  short = true # use short format
  relativePaths = false # show paths relative to the repository root

