.DS_Store
Brewfile.lock.json
Brewfile-mac.lock.json

macos/.gitconfig
macos/.wakatime.cfg
macos/.config/nvim/plugged
/macos/Library/Application\ Support/Code

ubuntu/.gitconfig
ubuntu/.wakatime.cfg
/ubuntu/.config/Code
